<html>
    <head>
        <title>Albums!</title>
    </head>
  
    <body>
        {% if message %}
        <h2>{{message}}</h2>
        {% endif %}

        {% if viewAlbums %}
            <ul>
            {% for album in viewAlbums %}
                <li>{{album[0]}}</li>
            {% endfor %}
            </ul>
        {% endif %}


        Deleting albums:
        <form method="post" enctype="multipart/form-data" action="/deletealbums/">
            Please pick an album
            <select name="album_id" id="album_id" required>
                {% for album in viewAlbums %}
                <option value="{{ album }}">{{ album[0] }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Delete" />
        </form>

        Adding more albums:
        <form action="/CreateAlbum/" method="POST">
            <p>Album id<input type="INT" name="album_id" /></p>
            <p>Album name:<input type="text" name="album_name" /></p>
            <p>Date:<input type="DATE" name="date_of_creation" /></p>
            <input type="submit" name="create" /> 
        </form>
<ul>
<li><a href='/'>Home</a></li>
</ul>
</body>
</html>